PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PG_DB_DEV=
PG_DB_TEST=
PG_DB_PROD=
BACKEND_HOST=

# Security Configuration
SENTRY_DSN=https://your-sentry-dsn@sentry.io/project-id
NEW_RELIC_LICENSE_KEY=your_new_relic_license_key_here
SECRET_KEY_BASE=your_secret_key_base_generate_with_rails_secret
ITEM_TYPE_UPDATE_APIKEY=your_api_key_for_item_type_updates